.cart-article {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 90% 10%;
  grid-gap: 20px;
  margin-bottom: 20px;

  > * {
    display: flex;
    align-items: center;
  }

  .sum {
    grid-column-start: 10;
    grid-row-start: 1;
  }

  img {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 5;
    min-width: 50px;
    max-width: 100%;
  }

  .button-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    grid-column-start: 9;
    grid-row-start: 1;

    button {
      background: none;
      height: 15px;
      border: none;
      box-shadow: none;
      cursor: pointer;
      font-size: 20px;
      transform: translateY(-8px);
    }
    .button1 {
      grid-column-start: 10;
      grid-row-start: 1;
    }
    p {
      margin-bottom: 0px;
    }
  }
  p {
    grid-column: 7 / span 2;
  }
  .cart-product-title {
    grid-column: 5 / span 2;
    font-weight: bold;
  }
}
@media screen and (max-width: 1000px) {
  .cart-product-title {
    font-size: 18px;
  }
  .cart-product-price {
    display: none;
  }
}
@media screen and (max-width: 526px) {
  .cart-product-title {
    font-size: 16px;
    transform: translateX(-15px);
  }
  .cart-article p {
    transform: translateX(5px);
    .cart-product-price {
      display: none;
    }
  }
  .cart-article .button-div :nth-child(1) {
    transform: translate(10px, -10px);
  }
}

.modal-content {
  position: relative;
}
.total-sum {
  grid-row-start: 2;
}
